/* general styles*/

body {
	font: 400 14px/21px "Raleway", sans-serif;
	color: #6c7279;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
}

/* header */
.header {
	background: url(../img/header_bg.jpg) center no-repeat;
	background-size: cover;
	height: 100vh;
}
.header__top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #505369;
	height: 100px;
}

.nav {
	display: flex;
	flex-wrap: wrap;
}
.nav__item {
	margin-left: 55px;
}
.nav__link {
	display: block;
	font: 700 13px "RalewayBold", sans-serif;
	color: #fff;
	text-transform: uppercase;
}
.nav__link:hover {
	text-decoration: underline;
}
.header__body {
	max-width: 915px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	overflow: hidden;
}
.header__title {
	margin: 80px 0px 40px;
	font: 700 65px/71px "OpenSansBold", sans-serif;

	text-transform: uppercase;
}
.header__subtitle {
	font-size: 22px;
	line-height: 33px;

	margin: 0 auto 80px auto;
}
.header__btn {
	padding: 25px 55px;
}
.btn {
	display: inline-block;
	font: 700 13px "RalewayBold", sans-serif;
	text-transform: uppercase;
	color: #fff;
	background: #e84545;
	transition: all 0.3s linear;
}
.btn:hover {
	background: #fff;
	color: #000;
}
/* header */

/* services */
.services {
	background: #fff;
	padding: 110px 0;
}

.services__row {
	display: flex;
	justify-content: space-around;

	flex-wrap: wrap;
	margin: 0 -30px;
}
.services__item {
	flex: 1 0 33.333%;
	padding: 0 30px;
	text-align: center;
	margin-bottom: 60px;
}
.services__item:last-child {
	margin-bottom: 0;
}
.services__img {
	margin-bottom: 20px;
}
.services__title {
	font-weight: bold;
	color: #2d3033;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.services__text {
	color: #6c7279;
	line-height: 21px;
}
/* /services */
