/* general styles*/

body {
	font: 400 14px "Raleway", sans-serif;
	color: #6c7279;
	background-color: #fff;
	-webkit-font-smooth: antialiased;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.btn {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	font-family: inherit;
	border: none;
	cursor: pointer;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	padding: 14px 40px;
	border-radius: 2px;
	transition: background 0.2s linear;
}

/* !header */
.header {
	width: 100%;
	position: absolute;
	height: 100px;
	left: 0;
	right: 0;
}

.header__top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #505369;
	padding: 35px 0;
}

.nav {
	display: flex;
	flex-wrap: wrap;
}
.nav__item {
	margin-left: 55px;
}
.nav__item:first-child {
	margin-left: 0;
}
.nav__link {
	display: block;
	font: 700 13px "RalewayBold", sans-serif;
	color: #fff;
	text-transform: uppercase;
	opacity: 0.75;
	transition: opacity 0.2s linear;
}
.nav__link:hover {
	opacity: 1;
}
/* !/header */

/* !intro */
.intro {
	background: #31444e url(../img/header_bg.jpg) center no-repeat;
	background-size: cover;
	height: 750px;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.intro__inner {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	text-align: center;
}
.intro__title {
	font-family: "Open Sans";
	font-size: 65px;
	line-height: 1.1;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.intro__subtitle {
	font-size: 20px;
	color: #fff;
	line-height: 1.5;
	margin-bottom: 60px;
}
.btn--red {
	background-color: #e84545;
}
.btn--red:hover {
	background-color: #dd3434;
}
/* !/intro */

/* !services */
.services {
	background: #fff;
	padding: 90px 0;
}

.services__row {
	display: flex;
	justify-content: space-around;

	flex-wrap: wrap;
	/* margin: 0 -30px; */
}
.services__item {
	flex: 1 0 33.333%;
	padding: 0 30px;
	text-align: center;
	margin: 25px 0;
}
.services__item:last-child {
	margin-bottom: 0;
}
.services__img {
	margin-bottom: 20px;
}
.services__title {
	font-weight: bold;
	color: #2d3033;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.services__text {
	font-size: 14px;
	color: #6c7279;
	line-height: 1.5;
}
/* !/services */

/* !works */
.works {
	display: flex;
	flex-wrap: wrap;
}

.works__item {
	width: 25%;
	height: 350px;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}
.works__item:hover .works__content {
	opacity: 1;
}
.works__photo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	z-index: 1;
}
.works__content {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	background: rgba(232, 69, 69, 0.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	opacity: 0;
	transition: opacity 0.2s linear;
}
.works__title {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.works__text {
	font-size: 14px;
	color: #fff;
}
/* !/works */

/* !team */
.team {
	padding: 100px 0 70px;
}

.team__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -15px;
}
.team__item {
	padding: 0 15px;
	margin-bottom: 30px;
	flex: 0 1 25%;
	display: flex;
	flex-direction: column;
}
.team__content {
	flex: 1 1 auto;
}
.team__img-item {
	max-width: 100%;
	height: auto;
}
.team__title {
	font-size: 22px;
	color: #2d3033;
	margin: 30px 0px 15px;
}
.team__suptitle {
	font-size: 13px;
	text-transform: uppercase;
	color: #e84545;
	margin-bottom: 20px;
}
.team__text {
	font-size: 14px;
	line-height: 1.5;
	color: #6c7279;
	margin-bottom: 40px;
}
.team__social {
}
.social {
}
.social__item {
	width: 40px;
	height: 40px;
	display: inline-flex;
	border: 1px solid #e8ecee;
	transition: background 0.4s linear;
}
.social__item-f {
	background: url(../img/team-icon/facebook.png) center no-repeat;
}
.social__item-t {
	background: url(../img/team-icon/twitter.png) center no-repeat;
}
.social__item-i {
	background: url(../img/team-icon/instagram.png) center no-repeat;
}
.social__item:hover {
	background-color: #000;
}
/* !/team */

/* !slider */
.slider {
}
.slider__row {
	display: flex;
}
.slider__img img {
	max-width: 100%;
	height: auto;
}
.slider__img {
	flex: 0 0 50%;
}
.slider__body {
	flex: 1 1 auto;
	background: #53354a;
	color: #fff;
	padding: 80px 0px 40px 20px;
}
.slider__qoute {
	font-size: 36px;
	line-height: 42px;
	font-style: italic;
	margin-bottom: 20px;
}
.slider__author {
	font-size: 13px;
	text-transform: uppercase;
}
/* !/slider */

/* !download */
.download {
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.download__body {
	padding: 80px 0;
	text-align: center;
}
.download__title {
	font-size: 28px;
	color: #2d3033;
	margin-bottom: 10px;
}
.download__suptitle {
	font-size: 13px;
	text-transform: uppercase;
	color: #2d3033;
	margin-bottom: 20px;
}
.download__btn {
	display: inline-block;
	padding: 20px 80px;
}
.download__btn:hover {
	background-color: #53354a;
}
/* !/download */

/* !contacts */

.contacts {
	padding: 65px 0px 100px 0px;
	background-color: #3a3e64;
}

.contacts__row {
	display: flex;
	justify-content: space-around;
}
.contacts__item {
	flex: 0 0 33.333%;
}
.contacts__title {
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}
.contacts__text {
	text-align: center;
	color: #afb0bc;
}
.contacts__social {
	display: flex;
	justify-content: center;
}
.contacts__link {
	display: block;
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	margin: 0 8px;
}
.contacts__social-f {
	background: url(../img/contacts-icon/contacts__facebook.png) no-repeat center center;
}
.contacts__social-t {
	background: url(../img/contacts-icon/contacts__instagram.png) no-repeat center center;
}
.contacts__social-i {
	background: url(../img/contacts-icon/contacts__twitter.png) no-repeat center center;
}
.contacts__link:hover {
	background-color: #000;
}
/* !/contacts */

/* !footer */

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #313454;
	padding: 25px 0px;
}
/* !/footer */
